:root{
  --dec-color : yellow;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Mochiy Pop P One", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Petemoss", cursive;
  font-family: "Roboto Slab", serif;
  font-family: "Titillium Web", sans-serif;
  /* outline:2px solid red; */
   /* overflow: hidden; */
   scroll-behavior: smooth;
}
body {
   background:url("https://www.desktopbackground.org/download/3840x2400/2010/04/17/3405_cool-simple-white-backgrounds-picture-gallery_5120x2880_h.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
a{
 text-decoration: none !important;
 color: var(--dec-color);

}
.heads{
  color:var(--dec-color);
  margin:5% 0;
  text-shadow: 1px 2px 2px rgb(92, 91, 91);
 
}


.btn{
  background-color: #3f3f42;
  color:var(--dec-color);
  padding: 5px 15px;
  border-radius: 5px;
  width:fit-content;
}

.Animated_text{
  font-weight: 200;
  margin: 0.4em 0;
}

header{
    margin: 0 !important;
    padding: 0 !important;
    height: 90vh;
    width:100vw;
    background: linear-gradient(rgba(28, 28, 32, 0.8), rgba(20, 20, 24, 0.8)),url("../images/PicsArt_12-30-04.58.50.jpg");
    background-size:cover;
    background-repeat: no-repeat;
   
}


/* navbar */


nav {
  display: flex;
  justify-content: space-between;
  height: 4em;
  width: 100vw;
  align-items:center;
  position:fixed;
  top:0;
  
}
.nav-head{
  display:flex;
}
#hamBurger{
  height: 2em;
  width: 2em;
  display: none;
  margin-left: 0.5em;
}

#welcome{
    color:whitesmoke;
    margin-left:2em;
   
  
}

.nav-items ul {
 
  display: flex;
  gap: 3rem;
  list-style: none !important;
}

.nav-items ul li a{
  color:whitesmoke;
  
}

.nav-items ul li a:hover{
  color:yellow;
  border-bottom:3px solid var(--dec-color);
  transition:0.1s ease-in;
}


/* sideNav */

.sidenav{
  
  height: 100vh !important;
  width:250px;
  top:0;
  position:fixed;
  background-color:#3f3f42;
  box-shadow: 1px 0px 3px black;
  /* display: none; */
  z-index:100!important;
}


.sidenav ul{
  display: flex;
  justify-content: center;
  flex-direction:column;
  list-style: none !important;
}

.sidenav ul li {
  margin:0.5em 0em;
}

.sidenav ul li a{
  color:whitesmoke;
}

.sidenav ul li a:hover{
  color:var(--dec-color);
  transition:0.1s ease-in;
}

#sidenavCross{
  height: 2em;
  width: 2em;
  margin:1em 0 0 1em;
}





/* header intro */


.header-intro{ 
  width: fit-content;
  position: relative;
  top: 50%;
  left:10%;
  /* margin-top:15em; */
  color:whitesmoke;
}


/* ANout me  */
.about_me{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:5%;
  padding: 5% 0;
 
}

.details{
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* flex-direction: column; */
  gap:4em;
  width: 80%;

}



#myImage{
  width:22vw;
  flex: 1;
}
.progress_bars{
  width: 60vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:2em;
  background-color:rgb(156, 102, 21);
}

.SocialMedia {
  margin-top: 5%;
 display: flex;
 gap: 2em;

}
.SocialMedia a img{
  height:2em;

}

.scroll {
  background-color:#3f3f42;
  box-shadow: 4px 0px 10px black;
  z-index: 100;
  transition: 0.5s ease-out;
}

/* media query section */



/* Projects section */

.projects{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom:5%;
  /* width: 100vw; */
  background: linear-gradient(rgba(28, 28, 32, 0.8), rgba(20, 20, 24, 0.8));

}

.card-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5%;
  flex-wrap:wrap;
  width: 90vw;
  
}

.card-wrapper .card{
  width:20em;
  margin:1em;
 
}

.card-wrapper .card:hover{
  transform:translatey(-10px);
 box-shadow: rgb(14, 13, 13) 0px 20px 30px -10px;
 transition:0.5s ease-in-out
  
}


/* contact section */

.contact{
  padding:5% 0% ;
  background:linear-gradient(330deg,transparent 55%,#fff 0%);
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

.contact-wrapper{
  width:60vw;
}

.contact_form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  gap:1em;
}

.cont-Inputs{
  width:100%;
  padding: 5px;
  border-radius:5px;
  border: 1px solid black;
}


/* FOOTER */


.page-footer{
  background-color: #3f3f42;
  color:white
}

@media screen and (max-width:800px){

  .header-intro{
    position: relative;
    left: 10%;

  }

  #hamBurger{
    display:initial;
    margin: 0 1em;
  }

  .nav-items{
    display: none;
  }
  nav{
    /* padding-left:1em; */
  }
  #welcome{
     margin-left:0.5em;
  }

  .details{
    flex-wrap: wrap;
  }
  
  .contact-wrapper{
  width:90vw;
}
  
  
}

